//
// LAYOUTS - RESPONSIVE
// Place all of your custom responsive styles in here. This stylesheet is loaded last,
// and takes precedence over all others.
//
// The various screen sizes and breakpoints can be configured in variables.less
//
// --------------------------------------------------

/* Responsive Text Centering */
.text-center-sm,
.text-center-md,
.text-center-lg,
.text-right-sm,
.text-right-md,
.text-right-lg {
  text-align: inherit;
}

// Breakpoint styles: these styles will only apply on screens smaller than
// the defined @grid-float-breakpoint-max (usually 767px).

@media (max-width: map-get($grid-breakpoints, md)) {

}

// XS styles - default: x <= 479px
//xs: 0,
//sm: 576px,
//md: 768px,
//lg: 992px,
//xl: 1200px
@media (max-width: 576px) {
    .box {
        height: 210px;
        bottom: 20px;
        &.box-3{
        margin-bottom: 55px;
      }
    }
    .logo-img {
        height: 180px;
        bottom: 25px;
    }
    .overlay-text {
      padding: 0px;
      font-size: 12px;
    }

}

@media (max-width: 692px) {
  .box {
    height: 210px;
    bottom: 23px;
  }
  .logo-img {
    height: 180px;
    bottom: 25px;
  }
  box.box-3{
    margin-bottom: 55px;
  }
  .cvpg-copyright{
    text-align: center;
  }
  .mind-credit {
    text-align: center;
  }
}

// Small styles - default: 480px <= x <= 991px
@media (min-width: 692px) and (max-width: 992px) {
    .menu-center ul li a {
        font-size: 13px;
    }
    .overlay-text {
      padding: 0px;
      font-size: 12px;
    }
    .box {
      height: 210px;
      bottom: 40px;
      &.box-3{
        margin-bottom: 55px;
      }
    }
    .logo-img {
      height: 180px;
      bottom: 51px;
    }
    .menu-center{
      ul {
        margin: 20px 40px;
      }
    }
    .header{
      height: 50px;
    }
    .footer-media{
      font-size: 9px;
    }

    .footer-copyright{
        font-size: 9px;
    }
    .footer-links{
      line-height: 1;
      font-size: 11px;
    }
    .cvpg-copyright{
      text-align: left;
    }
    .mind-credit {
      text-align: right;
    }
}


// Medium styles - default: 992px <= x <= 1199px
@media (min-width: 992px) and (max-width: 1200px) {
    .menu-center ul li a {
        font-size: 15px;
    }
}

// Large styles - default: 1200px <= x
@media (min-width: 1200px) {

}

/* Define xs styles after defaults so they take precedence */

.text-xs-left {
  text-align: left;
}

.text-xs-right {
  text-align: right;
}

.text-xs-center {
  text-align: center;
}

.text-xs-justify {
  text-align: justify;
}
