//
// LAYOUTS
// Place all of your custom styles in here. This stylesheet is loaded last,
// and takes precedence over all others.
//
// --------------------------------------------------

body {
  opacity: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: $dark;
  -moz-osx-font-smoothing: grayscale; // enable font-smoothing for browsers that support it
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

body.fade-in {
  opacity: 1;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 400;
  color: $primary;
}
hr {
  width: 100%;
}


//Navigation Styles
header.top-header {
  a.icons {
    margin-right: 10px;
  }
}

.header {
  backgroud: #e68000;
}

.slideout-menu{
  background: #498360;
}

.menu-toggle {
  font-size: 25px;
  margin-left: 15px;
}

.menu-center{
  width: 100%;
  background:#e68000;
  ul {
    padding: 0;
    margin: auto;
    list-style: none;
    margin: 20px 0px;

    li {
      float: left;
      padding: 0px 12px 11px;
      border-bottom: 3px solid green;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      text-decoration: none;

      font-family: 'Raleway', sans-serif;
      font-size: 17px;
      font-weight: 500;
    }

    a:hover {
      color: #0b912f;
    }
  }
  .navbar-right {
    float: right !important;
  }
}

.menu-item:hover{
    border-color: #e68000;
    background-color: #e68000;
}

.navbar-nav{
  background: #e68000;
}

//Front page content overlay
.box {
  border: solid 1px;
  height: auto;
  position: relative;
  bottom: 156px;
  text-align: center;
  color: black;

  &.box-1{
    background: rgba(233, 200, 66, 0.8);
  }
  &.box-2{
    background: rgba(217, 179, 36, 0.8);
  }
  &.box-3{
    background: rgba(250, 229, 86, 0.8);
  }
}

.button-wrapper{
  padding-bottom: 20px;
}

.logo{
  height: 174px;
}

.logo-img {
  position: relative;
  bottom: 63px;
}

.overlay-text {
  padding:15px;
}

.overlay-icon {
  padding:10px;
}

.overlay-btn{
  background: transparent;
  color: black;
  border-color: black;
}

//Home page text

.welcome-text{
  margin: -75px 60px 85px 60px;;
  text-align: center;
}

.welcome-title{
  font-size: 32px;
}

// Footer
footer.footer {
  background: #F1F1F1;
  color: #fff;
  padding-bottom:40px;
  padding-top: 40px;
  a {
    color: $light;
  }
}

footer.bottom-footer {
  min-height: 50px;
  line-height: 50px;
}

.footer-links {
  text-align: left;
  color: white;
  a {
    color: white;
  }
  li {
    height: 20px;
    list-style: none;
  }
}

.footer-copyright {
  text-align: center;
  color: white;
}

.footer-media {
  text-align: right;
  color: white;
}

.footer-mind{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center-logo{
  margin-top: 10px;
  align-self: center;
}

.bypostauthor > article .fn:before {
  content: "\f408";
  margin: 0 2px 0 -2px;
  position: relative;
  top: -1px;
}

//Gallery styles
.staff-members{
  margin-bottom: 35px;
  margin:auto;
}

.single-staff{
  margin-bottom: 55px;
}

.content{
  margin-bottom: 60px;
}

.staff-name {
  margin-bottom: 1px;
}

.staff-title {
  margin-bottom: 10px;
  font-size: 14px;
}

/* single post */

.alignleft, img.alignleft {
  float: left;

}

.alignright, img.alignright {
  float: right;

}

.aligncenter, img.aligncenter {
  float: none;
  height: auto;

}

.alignnone, img.alignnone {
  float: none;

}

/* sidebars and asides */
aside.sidebar {
  margin-top: 40px;
  .sidebar-social {
    font-size: 3em;
    border-bottom: 5px solid $light;
    svg {
      padding: 0 5px;
    }
  }
}

// Pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  .page-numbers {
    background: $primary;
    padding: 5px 10px;
    margin: 0 2px;
    color: #fff;
    text-align: center;
    flex: 1;
    font-size: 1.4em;
    font-weight: 500;
    min-width: 30px;
    white-space: nowrap;
  }
  .page-numbers.current {
    background: $light;
    color: $dark;
  }
  .page-numbers:first-child {
    margin-left: 0;
  }
  .page-numbers:last-child {
    margin-right: 0;
  }
}

// Footer Styles

//Logo
.logo{
  text-align: center;
}

// Directory

.directory-section{
}

.physician-name{
  font-size: 19px;
}

.facetwp-checkbox {
  font-size: 13px;
}

.acf-map {
  width: 70%;
  height: 400px;
  border: #ccc solid 1px;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
